In [1]:
import pandas as pd
import regex as re

In [2]:
data = {
    "raw_text": [
        "Hello World\nThis is a test!",
        "Python\tAI the future or not??",
        "Datacleaning version 20...",
        "Keep calm and code on!!!",
        "Special characters everywhere!!! @#$%",
        "Email me at example@test.com\n",
        "Numbers 1234567890 mixed in\t",
        "Tabs\tand\nnewlines should stay",
        "Removethisweirdstuffplease!!!",
        "Whitespace    and    multiple   spaces",
        "New entry one\n\n\n",
        "Another line here!!",
        "Sample text with digits 1234###",
        "Text with special chars #$%@!",
        "Short text\t",
        "Longer sentence to test regex!!!",
        "Data science is fun!!!",
        "Let's clean this data!\n",
        "Regex patterns are powerful@@@",
        "Emails like test123@mail.com\n\n",
        "URLs http://example.com\t",
        "Percentages 45.6%!!!",
        "Phone +1-800-555-1234\t",
        "Empty string \n",
        "Only digits 987654321!!!",
        "Mix of everything: test123@example.com and +44 20 7946 0958\n",
        "Edge case with no spaces!!!",
        "Line with\nnewline inside",
        "Tabs\tand spaces mixed",
        "Final example row!!!"
    ],
    "phone_numbers": [
        "+1-800-555-1234", "212) 555 7890", "+44 20 7946 0958", "0033 1 42 68 53 00", "5551234567",
        "+49-89-636-48018", "+81 3-1234-5678", "020 7946 0958", "555)555.1234", "",
        "1234567890", "9876543210", "+33 1 22 33 44 55", "Invalid phone!!", "123-456-7890",
        "+1 (800) 123-4567", "No phone here\n", "555-5555", "0044 7911 123456", "555.555.5555",
        "+49 89 636 48018", "2125557890", "+81-3-1234-5678", "02079460958", "5555551234",
        "None", "Mixed +1 234 567 8901", "+1-234-567-8900", "No number", "Final number 1234!!!"
    ],
    "percentages": [
        "12%", "3.5%", "100%", "0.25%", "50", "no data", "45.6 %", "75 percent", "60%", "5%",
        "99%", "0%", "23.45%", "12.3", "88%", "3%", "6%", "45%", "90%", "33%",
        "11%", "50%", "70%", "85%", "25%", "None", "100%", "12%", "66%", "77%"
    ],
    "emails": [
        "test@example.com", "hello@world.net", "user123@mail.org", "contact@domain.com", "",
        "noreply@test.co.uk", "name.surname@example.edu", "invalid-email@", "email@site.com", "user@host.com",
        "test2@example.com", "hello2@world.net", "user234@mail.org", "contact2@domain.com", "",
        "noreply2@test.co.uk", "name2.surname@example.edu", "invalid-email2@", "email2@site.com", "user2@host.com",
        "final@example.com", "last@world.net", "another@mail.org", "email@domain.com", "sample@host.com",
        "none@", "valid.email@company.com", "hello@there.org", "info@website.net", "admin@domain.com"
    ]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df.sample(10)

,raw_text,phone_numbers,percentages,emails
11,Another line here!!,9876543210,0%,hello2@world.net
7,Tabs\tand\nnewlines should stay,020 7946 0958,75 percent,invalid-email@
27,Line with\nnewline inside,+1-234-567-8900,12%,hello@there.org
28,Tabs\tand spaces mixed,No number,66%,info@website.net
20,URLs http://example.com\t,+49 89 636 48018,11%,final@example.com
2,Datacleaning version 20...,+44 20 7946 0958,100%,user123@mail.org
16,Data science is fun!!!,No phone here\n,6%,name2.surname@example.edu
18,Regex patterns are powerful@@@,0044 7911 123456,90%,email2@site.com
17,Let's clean this data!\n,555-5555,45%,invalid-email2@
3,Keep calm and code on!!!,0033 1 42 68 53 00,0.25%,contact@domain.com

In [ ]:
from cleaner import (
    remove_special,
    remove_doublespaces,
    remove_newline,
    remove_tab,
    digits,
    decimal,
    phonenumber,
    percentage,
    url,
    email,
)

In [6]:
df["raw_text"]=df["raw_text"].apply(remove_newline)

In [7]:
df["raw_text"]=df["raw_text"].apply(remove_tab)

In [8]:
df.head()

,raw_text,phone_numbers,percentages,emails
0,Hello World This is a test!,+1-800-555-1234,12%,test@example.com
1,Python AI the future or not??,212) 555 7890,3.5%,hello@world.net
2,Datacleaning version 20...,+44 20 7946 0958,100%,user123@mail.org
3,Keep calm and code on!!!,0033 1 42 68 53 00,0.25%,contact@domain.com
4,Special characters everywhere!!! @#$%,5551234567,50,

In [9]:
df["raw_text"]=df["raw_text"].apply(remove_special)

In [10]:
df.head()

,raw_text,phone_numbers,percentages,emails
0,Hello World This is a test,+1-800-555-1234,12%,test@example.com
1,Python AI the future or not,212) 555 7890,3.5%,hello@world.net
2,Datacleaning version 20,+44 20 7946 0958,100%,user123@mail.org
3,Keep calm and code on,0033 1 42 68 53 00,0.25%,contact@domain.com
4,Special characters everywhere,5551234567,50,

In [11]:
df["phone_numbers"]=df["phone_numbers"].apply(phonenumber)

In [12]:
df.head()

,raw_text,phone_numbers,percentages,emails
0,Hello World This is a test,+18005551234,12%,test@example.com
1,Python AI the future or not,2125557890,3.5%,hello@world.net
2,Datacleaning version 20,+442079460958,100%,user123@mail.org
3,Keep calm and code on,0033142685300,0.25%,contact@domain.com
4,Special characters everywhere,5551234567,50,

In [13]:
df["percentages"]=df["percentages"].apply(percentage)

In [14]:
df["emails"]=df["emails"].apply(email)

In [15]:
df.sample(10)

,raw_text,phone_numbers,percentages,emails
12,Sample text with digits 1234,+33122334455,0.2345,user234@mail.org
19,Emails like test123mailcom,5555555555,0.3300,user2@host.com
24,Only digits 987654321,5555551234,0.2500,sample@host.com
28,Tabs and spaces mixed,,0.6600,info@website.net
3,Keep calm and code on,0033142685300,0.0025,contact@domain.com
13,Text with special chars,,12.3000,contact2@domain.com
15,Longer sentence to test regex,+18001234567,0.0300,noreply2@test.co.uk
27,Line with newline inside,+12345678900,0.1200,hello@there.org
29,Final example row,,0.7700,admin@domain.com
6,Numbers 1234567890 mixed in,+81312345678,NaN,name.surname@example.edu